
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting Thanks for the peek, you cheeky bugger :) @ViewData["Mes"]
        <p>
            @Html.ActionLink("Input your data", "InputData")
        </p>
    </div>
</body>
</html>
