@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Back to School</h1>
    <div class="customJumbo">
        <p class="lead">
            <h2>Education</h2>
        </p>
        <p>is realizing what you didn't know</p>
        <p class="lead">you didn't know</p>
    </div>
</div>

<div class="row">
    
</div>