@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="customJumbo">
        <p><h1>Education</h1></p>
        <p><h2>is realizing what you didn’t know</h2></p>
        <p><h2>you didn’t know</h2></p>
    </div>
</div>

