@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h3>Loan programs</h3> 
        <table class="table-bordered">
            <tr>
                <td>
                    <p>Loan type</p>
                </td>
                <td>
                    <p>Crediting period</p>
                </td>
                <td>
                    <p>Maximum loan sum</p>
                </td>
                <td>
                    <p>Interest rate</p>
                </td>
            </tr> 
            @foreach (var c in ViewBag.Credits)
            {
                <tr>
                    <td>
                        <p>@c.Head</p>
                    </td>
                    <td>
                        <p>@c.Period</p>
                    </td>
                    <td>
                        <p>@c.Sum</p>
                    </td>
                    <td>
                        <p>@c.Percent %</p>
                    </td>
                </tr>
             }
        </table> 
        <p>
            <a class="btn btn-default" href="/Home/CreateBid">Apply for a loan &raquo;</a>
        </p>
    </div>
</div>