
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="customJumbo">
    <div class="col-md-5">
        @Html.ActionLink(linkText: "View All Records", actionName: "AllRecords", controllerName: "Record")
    </div>
</div>

