@model WebMVCR1.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    <div> 
        <h1>Hi</h1>
        <p>@Html.ActionLink("Go back to main page", "Index")</p>
    </div>
</body>
</html>
