
@{
    ViewBag.Title = "Main Page";
}

<div>
    @ViewBag.Greeting Thanks for the peek, you cheeky bugger!
    <p>
        Let's get to know each other a bit better! 
        @Html.ActionLink("Tell us your name ", "InputData")
    </p>
</div>
