@model WebMVCR1.Models.Person

@{
    ViewBag.Title = "Gimme aalll your data!";
}

<!DOCTYPE html>


    <div>
        @using (Html.BeginForm())
        {
            <table> 
                <tr> 
                    <td>
                        <p>Enter your first name:</p>
                    </td> 
                    <td>
                        @Html.TextBox("FirstName")
                    </td> 
                </tr> 
                <tr> 
                    <td>
                        <p>Enter your last name:</p>
                    </td> 
                    <td>
                        @Html.TextBoxFor(x => x.LastName)
                    </td> 
                </tr> 
                <tr>
                    <td>
                        <input type="submit" value="Submit" /> 
                    </td>
                    <td>
                    </td>
                </tr> 
            </table>}
    </div>

