@model WebMVCR1.Models.PersonRepository

@{
    ViewBag.Title = "List of attendees";
}


    <div>
        <h3>Attendees list</h3> 
        <p>Total number of people: @ViewBag.Count</p>
        <ul> @foreach (var c in ViewBag.pers)
        {<li>@c.ToString() </li>} </ul>
        <p>
            @Html.ActionLink("Go back to main page", "Index")
        </p>
    </div>

